.character__wrapper {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.character__info {
  padding: 1rem;
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  box-sizing: border-box;
}

.character__image {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.character-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
