.character-card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

.character-card {
  background-color: #00bcd4;
  border-radius: 5%;
  padding: 1rem;
  cursor: pointer;
  width: 250px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.character-card__info {
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-card__img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}
