.character-card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

.character-card {
  border-radius: 5%;
  padding: 1rem;
  width: 250px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.character-card__info {
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-card__img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}

.character-card__link {
  font-family: sans-serif;
  display: inline-block;
  width: 150px;
  padding: 10px;
  margin: 0.5rem;
  background-color: #0d47a1;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
